 

body {
    padding: 0px;
    margin: 0;

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal
}

 .header {
    height: 169px;
    display: flex;
    justify-content: flex-start;
    background: #ffde59;
    position: relative;

    img {
        z-index: 100;
    }
}

.ball {
    position: absolute;
    top: 0vh;
    left: 95vw;
    height: 40px;
    width: 40px;
    transform: translate(-50%, 50%);

    &.animate {
        animation: ball-bounced 3s 0s ease-in-out;
    }
}

@keyframes ball-bounced {
    0% {
    top: 5vh;
    left: 90vw;
    }
    33% {
        top: 100vh;
        left: 20vw;
    }
    66% {
        top: 50vh;
        left: 0vw;
    }
    100% {
        top: 0vh;
        left: 95vw;
    }
}

.galerie{display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;

    img{
        height:33vh;
    }
    
    img:hover{
        border:4px solid #ffde59;
    }
}
.content{
    padding: 20px;   
    
}

.bar {
    position: absolute;
    width: 100vw;
    height: 33px;
    background-color: #1e1e1e;
    top: 123px ;
    z-index: 0;
}
